<html>
    <% include header %>
    Create a brain wallet
    <form method='POST' action='/wallet'>
        <input type='text', name='brainsrc'>
        <input type='submit', value='go'>
    </form>
</html>